#preActividad {
    display: flex;
}

@media (max-width: 360px) {
    #preActividad {
        display: flex;
        justify-content: center;
    }
    .iconActividad {
        display: none;
    }
    .contentDescripcion {
        padding: 0;
    }
    #descripcionInicio {
        padding: 0;
    }
    .infoPrimary {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .datoInfo {
        display: block;
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    #footerPreAct {
        padding-top: 5px;
    }
    .col-left {
        float: left;
        width: 38%;
    }
    .btn-sound {
        display: block;
        width: 30px;
        height: 30px;
        border: 2px solid #7cb139;
    }
    .imgUserPlayer {
        display: none;
    }
    #resultados {
        background-color: #393d42;
        background-color: rgba(255, 255, 255, .09);
        padding: 10px 0 10px;
    }
    #resultados .rDatos {
        font-size: 20px;
    }
    .btn-image img {
        max-width: 30px;
        height: auto;
        vertical-align: middle;
    }
    #lienzo {
        padding: 0;
    }
}